<div class='container'>
  <p style='color: green'><%= notice %></p>
  <h1><%= t ApiMethod.model_name.human %></h1>
  <%= render @api_method %>
  <%= render 'admin/shared/show_actions', object: @api_method %>
</div>
